<footer class="footer-area clearfix">
    <!-- Top Fotter Area -->
    <div class="top-footer-area section_padding_100_0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <a href="#" class="mb-50 d-block" style="color: white;">
                            About InExRecord
                        </a>
                        <p>The best application for companies to keep their daily income and expense record and generate reports.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <a href="#" class="mb-50 d-block" style="color: white;">
                            About Code Vince
                        </a>
                        <p>Code Vince is responsible to develop the InRexRecord to provide companies the best business solutions.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <a href="#" class="mb-50 d-block" style="color: white;">
                            Social Profiles
                        </a>
                        <div class="footer-single-contact-info d-flex">
                            <div class="contact-icon">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </div>
                            <p>Facebook</p>
                        </div>
                        <div class="footer-single-contact-info d-flex">
                            <div class="contact-icon">
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            </div>
                            <p>Pinterest</p>
                        </div>
                        <div class="footer-single-contact-info d-flex">
                            <div class="contact-icon">
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                            <p>Twitter</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <a href="#" class="mb-50 d-block" style="color: white;">
                            Contact Us
                        </a>
                        <div class="footer-single-contact-info d-flex">
                            <div class="contact-icon">
                                <img src="~/main/img/core-img/map.png" alt="">
                            </div>
                            <p>Dhaka, Bangladesh</p>
                        </div>
                        <div class="footer-single-contact-info d-flex">
                            <div class="contact-icon">
                                <img src="~/main/img/core-img/call.png" alt="">
                            </div>
                            <p>
                                Main: 203-808-8613 <br> Office: 203-808-8648
                            </p>
                        </div>
                        <div class="footer-single-contact-info d-flex">
                            <div class="contact-icon">
                                <img src="~/main/img/core-img/message.png" alt="">
                            </div>
                            <p>info@codevince.com</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Fotter Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="footer-bottom-content h-100 d-md-flex justify-content-between align-items-center">
                        <div class="copyright-text">
                            <p>
                                Copyright &copy; InRexRecord-
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                            </p>
                        </div>
                        <div class="copyright-text text-right">
                            <p>
                                Developed by Code Vince
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
