@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - InExRecordApp</title>
    <link rel="icon" type="image/png" href="~/login/images/icons/favicon.ico" />

    @if (controller == "Login")
    {
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/lib/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/lib/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/login/css/main.css">
    }
    else
    {
        <link href="~/main/style.css" rel="stylesheet">
        <link href="~/main/css/responsive.css" rel="stylesheet">
    }
</head>
<body>

    @if (controller != "Login")
    {
        <div id="preloader">
            <div class="mosh-preloader"></div>
        </div>
        <partial name="_NavBar" />
    }

    @RenderBody()
    
    @if (controller != "Login")
    {
        <partial name="_Footer" />
    }
    
    @if (controller == "Login")
    {
    <script src="~/lib/jquery/jquery-3.2.1.min.js"></script>
    }
    else
    {
        <script src="~/main/js/jquery-2.2.4.min.js"></script>
        <script src="~/main/js/popper.min.js"></script>
        <script src="~/main/js/bootstrap.min.js"></script>
        <script src="~/main/js/plugins.js"></script>
        <script src="~/main/js/active.js"></script>
    }

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
