
@{
    ViewBag.Title = "User Dashboard";
}

<div class="user-title">
    <h3>Hello @User.Identity.Name !</h3>
</div>

<div class="dashboard-wrapper">
    <img src="~/main/img/dashboard.jpg" alt="Dashboard" />
</div>

