@using Microsoft.AspNetCore.Http

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h2>Welcome @ViewBag.UserId </h2>
</body>
</html>
