
@{
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice </title>
    @*<link rel="stylesheet" href="@Url.Content("~/css/invoice-report.css")" />*@
</head>
<body>
<div class="invoice-title">
    Invoice 
</div>
 
<div class="invoice-head clearfix">
    <div class="invoice-to">
        <strong>jgj</strong><br />
    </div>
    <div class="invoice-details">
        Invoice no: 7979<br />
        Date: gj<br />
        Due date: cgd
    </div>
</div>
 
<table>
    <tr>
        <th>Item</th>
        <th>Unit price</th>
        <th>Amount</th>
        <th>Net</th>
        <th>VAT (%)</th>
        <th>Total</th>
    </tr>
    
    <tr>
        <td colspan="4"></td>
        <td><strong>Total:</strong></td>
        <td><strong>gdg EUR</strong></td>
    </tr>
</table>
</body>
</html>