@using System.Security.Claims
@model Income

@{
    ViewBag.Title = "Store Income";
}

<style>
    .cheque:focus ~ .chequeprops {
        display: none;
    }

    .cash:focus ~ .alert {
        display: block;
    }
</style>

<div class="container col-md-8" style="margin-top: 150px;margin-bottom: 100px;">
    <h2>@ViewBag.Title</h2>
    <form method="post" asp-action="Store" asp-controller="Income">
        <div class="form-group">
            <label asp-for="Amount">Amount:</label>
            <input asp-for="Amount" type="text" class="form-control" placeholder="Enter amount">
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Income Type:</label>
            <div class="radio" id="hide">
                <label><input asp-for="IncomeType" type="radio" value="Cash" checked>Cash</label>
            </div>
            <div class="radio" id="show">
                <label><input asp-for="IncomeType" type="radio" value="Cheque">Cheque</label>
            </div>
            <span asp-validation-for="IncomeType" class="text-danger"></span>
        </div>
        <div class="form-group chequeprops" style="display: none;">
            <label asp-for="ChequeNo">Check No:</label>
            <input asp-for="ChequeNo" type="text" class="form-control" placeholder="Enter cheque no">
        </div>
        <div class="form-group chequeprops" style="display: none;">
            <label asp-for="BankName">Bank Name:</label>
            <input asp-for="BankName" type="text" class="form-control" placeholder="Enter bank name">
        </div>
        <div class="form-group">
            <label asp-for="Particular">Particular:</label>
            <textarea asp-for="Particular" class="form-control" placeholder="Write.."></textarea>
            <span asp-validation-for="Particular" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date">Date:</label>
            <input type="text" asp-for="Date" class="form-control datepicker">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

@section Scripts{
    
    <script>
        $(function () {
            $("#hide").click(function () {
                $(".chequeprops").hide(500);
            });
            $("#show").click(function () {
                $(".chequeprops").show(500);
            });
        });
    </script>
}
