@model Expense

@{
    ViewBag.Title = "Store Expense";
}

<div class="container col-md-8" style="margin-top: 150px;margin-bottom: 100px;">
    <h2>@ViewBag.Title</h2>
    <form method="post" asp-antiforgery="true">
        <div class="form-group">
            <label asp-for="Amount">Amount:</label>
            <input asp-for="Amount" type="text" class="form-control" placeholder="Enter amount">
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Income Type:</label>
            <div class="radio cash">
                <label><input asp-for="ExpenseType" type="radio" value="Cash" checked>Cash</label>
            </div>
            <div class="radio cheque">
                <label><input asp-for="ExpenseType" type="radio" value="Cheque">Cheque</label>
            </div>
            <span asp-validation-for="ExpenseType" class="text-danger"></span>
        </div>
        <div class="form-group cheque-props">
            <label asp-for="ChequeNo">Check No:</label>
            <input asp-for="ChequeNo" type="text" class="form-control" placeholder="Enter cheque no">
        </div>
        <div class="form-group">
            <label asp-for="BankName">Bank Name:</label>
            <input asp-for="BankName" type="text" class="form-control" placeholder="Enter bank name">
        </div>
        <div class="form-group">
            <label asp-for="Particular">Particular:</label>
            <textarea asp-for="Particular" class="form-control" placeholder="Write.."></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Date">Date:</label>
            <input type="text" asp-for="Date" class="form-control datepicker">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default" id="submit">Submit</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
@section Scripts{
    <script>
        $(function () {
            $('#submit').click(function(e) {
                e.preventDefault();
                $.validator.unobtrusive.parse($('form'));
                if ($('form').valid()) {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("Store", "Expense")',
                        headers: {
                            "CSRF-TOKEN-MOONGLADE-FORM": $('input[name="CSRF-TOKEN-MOONGLADE-FORM"]').val()
                        },
                        data: $('form').serialize()

                    }).done(function (response) {

                        swal("Expense is Stored", "", "success").then(function () {
                            window.location.href = response.redirecturl;
                        });
                        

                    }).fail(function (error) {

                    });

                }
            });
        });
    </script>
}
