<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>InExRecord</title>

    <!-- Core Stylesheet -->
    <link href="Assets/landing/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="Assets/landing/css/responsive.css" rel="stylesheet">

</head>

<body>
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="mosh-preloader"></div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header_area clearfix" style="background: lightseagreen;">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- Menu Area Start -->
            <div class="col-12 h-100">
                <div class="menu_area h-100">
                    <nav class="navbar h-100 navbar-expand-lg align-items-center">
                        <!-- Logo -->
                        <a class="navbar-brand" href="javascript:void(0);" style="color: white;">
                            InExRecord
                        </a>

                        <!-- Menu Area -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar" aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                        <div class="collapse navbar-collapse justify-content-end" id="mosh-navbar">
                            <ul class="navbar-nav animated" id="nav">
                                <li class="nav-item active"><a class="nav-link" href="landing.html" style="color: white;">Home</a></li>
                                <!--<li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="moshDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <div class="dropdown-menu" aria-labelledby="moshDropdown">
                                        <a class="dropdown-item" href="landing.html">Home</a>
                                        <a class="dropdown-item" href="dailyIncome.html">Daily Income</a>
                                        <a class="dropdown-item" href="dailyExpense.html">Daily Expense</a>
                                        &lt;!&ndash;<a class="dropdown-item" href="javascript:void(0);">Portfolio</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Blog</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Contact</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0);">Elements</a>&ndash;&gt;
                                    </div>
                                </li>-->
                                <li class="nav-item"><a class="nav-link" href="dailyIncome.html">Daily Income</a></li>
                                <li class="nav-item"><a class="nav-link" href="dailyExpense.html">Daily Expense</a></li>
                                <!--<li class="nav-item"><a class="nav-link" href="javascript:void(0);">Portfolio</a></li>
                                <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Contact</a></li>-->
                            </ul>
                            <!-- Search Form Area Start -->
                            <div class="search-form-area animated">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Type keywords &amp; hit enter">
                                    <button type="submit" class="d-none"><img src="Assets/landing/img/core-img/search-icon.png" alt="Search"></button>
                                </form>
                            </div>
                            <!-- Search btn -->
                            <div class="search-button" style="opacity: 0;">
                                <a href="#" id="search-btn"><img src="Assets/landing/img/core-img/search-icon.png" alt="Search"></a>
                            </div>
                            <!-- Login/Register btn -->
                            <div class="login-register-btn">
                                <a href="login.html" style="color: white;font-size: 18px;">Login</a>
                                <!--<a href="#">/ Register</a>-->
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Workflow Area Start ***** -->
<section class="mosh-workflow-area section_padding_100_0 clearfix" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mb-0">
                    <p>Our Work Flow</p>
                    <h2>This is how we work on Projects</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="workflow-img">
        <img src="Assets/landing/img/core-img/work-progress.png" alt="">
    </div>

    <div class="workflow-slides-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mosh-workflow-slides owl-carousel">
                        <!-- Single Service Area -->
                        <div class="single-workflow-area d-flex">
                            <h2>1.</h2>
                            <div class="workflow-content ml-15">
                                <h4>This is the first step</h4>
                                <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-workflow-area d-flex">
                            <h2>2.</h2>
                            <div class="workflow-content ml-15">
                                <h4>This is the second step</h4>
                                <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-workflow-area d-flex">
                            <h2>3.</h2>
                            <div class="workflow-content ml-15">
                                <h4>This is the third step</h4>
                                <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-workflow-area d-flex">
                            <h2>4.</h2>
                            <div class="workflow-content ml-15">
                                <h4>This is the fourth step</h4>
                                <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Service Area End ***** -->

<!-- ***** CTA Area Start ***** -->
<section class="mosh-call-to-action-area bg-img bg-overlay section_padding_100" style="background-image: url(Assets/landing/img/bg-img/cta.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content text-center wow fadeIn" data-wow-delay="0.5s">
                    <div class="section-heading">
                        <p>give us a shout</p>
                        <h2>Are you Ready to have a Talk?</h2>
                        <a href="javascript:void(0);" class="btn mosh-btn">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->

<!-- ***** Footer Area Start ***** -->
<footer class="footer-area clearfix">
    <!-- Top Fotter Area -->
    <div class="top-footer-area section_padding_100_0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <a href="#" class="mb-50 d-block" style="color: white;">
                            InExRecord
                        </a>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellent esque sit amet tellus blandit. Etiam nec odio vestibul.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5>Fast links</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Services &amp; Features</a></li>
                            <li><a href="#">Accordions and tabs</a></li>
                            <li><a href="#">Menu ideas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5>Blog</h5>
                        <div class="footer-single--blog-post">
                            <a href="#" class="blog-post-date">
                                <p>23 September, 2017</p>
                            </a>
                            <a href="#" class="blog-post-title">
                                <h6>Why we love stock photos</h6>
                            </a>
                        </div>
                        <div class="footer-single--blog-post">
                            <a href="#" class="blog-post-date">
                                <p>22 September, 2017</p>
                            </a>
                            <a href="#" class="blog-post-title">
                                <h6>Designin on grid. A few rules. </h6>
                            </a>
                        </div>
                        <div class="footer-single--blog-post">
                            <a href="#" class="blog-post-date">
                                <p>20 September, 2017</p>
                            </a>
                            <a href="#" class="blog-post-title">
                                <h6>2017 World Design Congress</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5>Contact Info</h5>
                        <div class="footer-single-contact-info d-flex">
                            <div class="contact-icon">
                                <img src="Assets/landing/img/core-img/map.png" alt="">
                            </div>
                            <p>4127/ 5B-C Mislane Road, Gibraltar, UK</p>
                        </div>
                        <div class="footer-single-contact-info d-flex">
                            <div class="contact-icon">
                                <img src="Assets/landing/img/core-img/call.png" alt="">
                            </div>
                            <p>Main: 203-808-8613 <br> Office: 203-808-8648</p>
                        </div>
                        <div class="footer-single-contact-info d-flex">
                            <div class="contact-icon">
                                <img src="Assets/landing/img/core-img/message.png" alt="">
                            </div>
                            <p>office@yourbusiness.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fotter Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="footer-bottom-content h-100 d-md-flex justify-content-between align-items-center">
                        <div class="copyright-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer-social-info">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->

<!-- jQuery-2.2.4 js -->
<script src="Assets/landing/js/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="Assets/landing/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="Assets/landing/js/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="Assets/landing/js/plugins.js"></script>
<!-- Active js -->
<script src="Assets/landing/js/active.js"></script>
</body>

</html>