@{
    ViewBag.Title = "Landing Page";
}

<section class="mosh-workflow-area section_padding_100_0 clearfix" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mb-0">
                    <p>The best app to store daily income and expense</p>
                    <h2>Features of this app</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="workflow-img">
        <img src="~/main/img/core-img/work-progress.png" alt="">
    </div>

    <div class="workflow-slides-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mosh-workflow-slides owl-carousel">
                        <!-- Single Service Area -->
                        <div class="single-workflow-area d-flex">
                            <div class="workflow-content ml-15">
                                <h4>Record Income</h4>
                                <p>Companies can keep daily incomes for different purposes using cash or cheque.</p>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-workflow-area d-flex">
                            <div class="workflow-content ml-15">
                                <h4>Record Expense</h4>
                                <p>Companies can keep daily expense for different purposes using cash or cheque.</p>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-workflow-area d-flex">
                            <div class="workflow-content ml-15">
                                <h4>Generate Reports</h4>
                                <p>Companies can generate monthly income and expense report with yearly profit reports.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
    